label, input, a{ font-size: 16px; }
h3{
	padding:	0;
	margin:		0;
	border:		0;
}
form> span{
	display:	block;
	margin:		5px;
}

form> span> label{
	font-weight:	600;
	display:		block;
	width:			160px;
}

a{
	text-decoration:	none;
	color:				#3366ff;
}

select{
	font-size:	15px;
	margin:		5px;
}

th{ background-color: lightgray; }
th:hover{ cursor: pointer; }
td, th{ min-width: 160px; }
tr:nth-child(2n){ background-color: #eeeeee; }

form#logoutform{ display: inline; }

.error, .success, .fail, .info{
	margin-left:	10px;
	margin-right:	10px;
	font-family:	monospace;
	font-weight:	600;
}
.info{ color: cornflowerblue; }
.success{ color: #339900; }
.error, .fail{ color: red; }

