label, input, a{ font-size: 16px; }

form> span{
	display:	block;
	margin:		5px;
}

form> span> label{
	font-weight:	600;
	display:		block;
	width:			160px;
}

a{
	text-decoration:	none;
	color:				cornflowerblue;
}

select{
	font-size:	15px;
	margin:		5px;
}

.error, .success, .fail, .info{
	margin-left:	10px;
	margin-right:	10px;
	font-family:	monospace;
	font-weight:	600;
}
.info{ color: cornflowerblue; }
.success{ color: lightgreen; }
.error, .fail{ color: red; }